{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Django Project 1</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	
</head>
<body>
	<ul>
		<li><a href="{% url 'home:index' %}">Home</a></li>
		<li><a href="{% url 'home:about' %}">About</a></li>
		<li><a href="{% url 'home:insertSlide' %}">Insert Slide</a></li>
		<li><a href="{% url 'home:impress' %}">Impress</a></li>
	</ul>
	{% block content %}
	{% endblock %}
	<script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
	<script sr="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>